body,
html {
  height: 100%;
  /* font-size: 10px; */
}

body {
  padding-top: 6rem;
  background-image: url(../assets/home-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 96px;
}

.logo-my-routine {
  width: 10rem;
  height: 5rem;
}

.success-message {
  display: block;
  color: green;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  padding: 0;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container p {
  display: block;
  color: red;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 1px 0px 1px darkred;
}

#main-container {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

#main-container label {
  color: darkorange;
  font-weight: bold;
}

nav {
  overflow: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 6rem;
}

input {
  height: 3rem;
  width: 20rem;
  margin-bottom: 1rem;
  display: block;
}

#container-button-signup {
  display: flex;
  justify-content: center;
  padding: 0;
}

#signup-button {
  border-radius: 4px;
  border-width: 1px;
  background-color: #343a40;
  color: white;
  width: 50%;
  height: 3rem;
}

#container-button-login {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* Nav BUTTON */
#nav-button {
  border-radius: 4px;
  border-width: 1px;
  background-color: orange;
  color: white;
  padding: 0.8rem 5rem;
}

#nav-button a:active {
  color: white;
  text-decoration: none;
}

#nav-button a:link {
  color: white;
  text-decoration: none;
}

#nav-button a:visited {
  color: white;
  text-decoration: none;
}

#nav-button:hover {
  text-decoration: none;
  background-color: darkorange;
}

/* LOGIN BUTTON */
#login-button {
  border-radius: 4px;
  border-width: 1px;
  background-color: #535353;
  color: white;
  padding: 0.8rem 5rem;
}

#login-button a:active {
  color: white;
  text-decoration: none;
}

#login-button a:link {
  color: white;
  text-decoration: none;
}

#login-button a:visited {
  color: white;
  text-decoration: none;
}

#login-button:hover {
  text-decoration: none;
  background-color: darkorange;
}

@media (max-width: 991px) {
  body {
    background-image: url(../assets/background_2-1.jpg);
  }

  .offcanvas-collapse {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    height: 0px;
    overflow: hidden;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #535353;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    transition-property: height;
  }

  .offcanvas-collapse.open {
    /* viewport */
    left: 0;
    visibility: visible;
    z-index: 1;
    height: auto;
    padding: 15px;
    background: #535353;
    box-sizing: border-box;
    font-size: 1.8rem;
    color: white;
    overflow: hidden;
    justify-content: space-between;
  }

  .offcanvas-collapse a {
    color: white;
    display: block;
    width: 100%;
  }

  .offcanvas-collapse li {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  nav {
    overflow: visible;
  }
}

@media (min-width: 992px) {
  nav {
    flex-wrap: nowrap;
  }

  nav button {
    display: none;
  }

  .offcanvas-collapse {
    flex-grow: 0;
    flex-basis: auto;
  }

  #offcanvas ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #offcanvas ul li {
    margin: 0 3px;
  }

  #nav-button {
    border-radius: 4px;
    border-width: 1px;
    background-color: orange;
    color: white;
    padding: 0.8rem 5rem;
  }

  #nav-button a:active {
    color: white;
    text-decoration: none;
  }

  #nav-button a:link {
    color: white;
    text-decoration: none;
  }

  #nav-button a:visited {
    color: white;
    text-decoration: none;
  }

  #nav-button:hover {
    text-decoration: none;
    background-color: darkorange;
  }
}
