body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../assets/home-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#home-image {
  
}

.success-message {
  display: block;
  color: green;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  position: fix;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container p {
  display: block;
  color: red;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 1px 0px 1px darkred;
}

#main-container {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

#main-container label{
  color: darkorange;
  font-weight: bold;
}

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

input {
  height: 3rem;
  width: 20rem;
  margin-bottom: 1rem;
  display: block;
}

#container-button-signup {
  display: flex;
  justify-content: center;
  padding: 0;
}

#signup-button {
  border-radius: 4px;
  border-width: 1px;
  background-color: #343a40;
  color: white;
  width: 50%;
  height: 3rem;
}

#container-button-login {
  display: flex;
  justify-content: center;
  padding: 0;
}

/* REGISTER BUTTON */
#register-button {
  border-radius: 4px;
  border-width: 1px;
  background-color: orange;
  color: white;
  padding: 0.8rem 5rem;
}

#register-button a:active{
  color: white;
  text-decoration: none;
}
#register-button a:link{
  color: white;
  text-decoration: none;
}
#register-button a:visited{
  text-decoration: none;
  color: white;
}

#register-button:hover{
  text-decoration: none;
  background-color: darkorange;
}


/* LOGIN BUTTON */
#login-button {
  border-radius: 4px;
  border-width: 1px;
  background-color: orange;
  color: white;
  padding: 0.8rem 5rem;
}

#login-button a:active{
  color: white;
  text-decoration: none;
}

#login-button a:link{
  color: white;
  text-decoration: none;
}

#login-button a:visited{
  color: white;
  text-decoration: none;
}

#login-button:hover{
  text-decoration: none;
  background-color: darkorange;
}
