body {
  margin: 0;
  padding: 0;
  background-color: snow;
}

#home-image {
  
}

#main-container {
  display: flex;
  justify-content: center;
  background-image: url(../assets/home-image.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-height: 100%;
}

#main-container label{
  color: lightgray;
}

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

input {
  height: 3rem;
  width: 20rem;
  margin-bottom: 1rem;
  display: block;
}

#container-button-signup {
  display: flex;
  justify-content: center;
  padding: 0;
}

#signup-button {
  border-radius: 4px;
  border-width: 1px;
  background-color: #343a40;
  color: white;
  width: 50%;
  height: 3rem;
}